@font-face {
    font-family: 'dbfongnam_reg';    
    src: url('DB FongNam X v3.2.1.ttf') format('truetype');
}
@font-face {
    font-family: 'dbfongnam_bd';    
    src: url('DB FongNam X Bd v3.2.1.ttf') format('truetype');
}
@font-face {
    font-family: 'dbozone_light';    
    src: url('DB Ozone X Li v3.2.1.ttf') format('truetype');
}
@font-face {
    font-family: 'dbozone_reg';    
    src: url('DB Ozone X v3.2.1.ttf') format('truetype');
}
@font-face {
    font-family: 'dbozone_med';    
    src: url('DB Ozone X Med v3.2.1.ttf') format('truetype');
}
@font-face {
    font-family: 'dbozone_bd';    
    src: url('DB Ozone X Bd v3.2.1.ttf') format('truetype');
}
@font-face {
    font-family: 'kanit_reg';    
    src: url('Kanit-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'kanit_bd';    
    src: url('Kanit-Bold.ttf') format('truetype');
}



